# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

/eshell/

# packages, etc
/straight/
/tree-sitter/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

.lsp-session-v1
projectile-bookmarks.eld
projectile.cache
recentf
transient/
.cache
forge-database.sqlite
.perspective
customize.el
settings.el
common/settings.el
common/packages.el
bookmarks
emojis/
.dap-breakpoints
quelpa/
.env
.env.gpg
backups/
projects
.DS_Store
history
eln-cache/

# Terminal config
/terminal/straight
/terminal/.emacs.desktop
session.*
org-directory
org-persist
eglot-java-eclipse-jdt-cache/
share/
